<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/socket.io/socket.io.js"></script>
  <meta charset="UTF-8">
  <title><%= post.title %></title>
  <!-- Link to your stylesheet here -->
  <script>
    var socket = io();
    window.onload = function() {
      var form = document.getElementById('form');
      var input = document.getElementById('input');
      //var roomInput = document.getElementById('room');

      // Join a room
      //document.getElementById('joinRoom').onclick = function() {
        //var room = roomInput.value;
        var room = <%= post.id %>;
        socket.emit('join room', room);
      //};

      form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
          //var room = roomInput.value;
          socket.emit('chat message', { room: room, msg: input.value });
          console.log({ room: room, msg: input.value });
          input.value = '';
        }
      });

      socket.on('chat message', function(msg) {
        var item = document.createElement('li');
        item.textContent = msg;
        messages.appendChild(item);
        window.scrollTo(0, document.body.scrollHeight);
      });
    };
    window.addEventListener("visibilitychange", (event) => {alert("visibilitychange");
        console.log("visibilitychange");   
    });
    window.addEventListener('beforeunload', function (e) {
      // You can customize the message, but modern browsers often display their own default message for security reasons.
      var confirmationMessage = 'You have unsaved changes! Are you sure you want to leave?';
      console.log("unloading");

      window.onbeforeunload = undefined;
      return false; // Webkit, Safari, Chrome etc.
      // Some browsers may display this message to the user, prompting them to confirm if they want to leave the page.
      //(e || window.event).returnValue = confirmationMessage; // Gecko + IE
      //return confirmationMessage; // Webkit, Safari, Chrome etc.
    });
    
  </script>
</head>
<body>
  <h1><%= post.title %></h1>
  <p><%= post.content %></p>
  <input id="room" autocomplete="off" placeholder="Room name <%= post.title %>"/>
  <ul id="messages"></ul>
  <form id="form" action="">
    <input id="input" autocomplete="off" /><button>Send</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>